<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (paciente) {
      <div>
        <h2 data-cy="pacienteDetailsHeading"><span>Paciente</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ paciente.id }}</span>
          </dd>
          <dt><span>Nombre</span></dt>
          <dd>
            <span>{{ paciente.nombre }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Volver</span>
        </button>

        <button type="button" [routerLink]="['/paciente', paciente.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
