<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>¡Bienvenido, a Sistema de Citas Médicas Medicina Interna!</span> (Consultas)</h1>

    <p class="lead">Esta es su página de inicio</p>

    <div>
      @if (account !== null) {
        <div class="alert alert-success">
          @if (account) {
            <span id="home-logged-message">Está conectado como &quot;{{ account.login }}&quot;.</span>
          }
        </div>

        <div class="row">
          <div class="col">
            <a routerLink="/cita/consultar">
              <div class="card bg-warning">
                <div class="card-body">CONSULTAR CITAS</div>
              </div>
            </a>
          </div>
          <div class="col">
            <a routerLink="/cita">
              <div class="card">
                <div class="card-body bg-primary">AGENDAR NUEVA CITA</div>
              </div>
            </a>
          </div>
        </div>
      } @else {
        <div class="alert alert-warning">
          <span>Si desea </span>
          <a class="alert-link" (click)="login()">iniciar sesión</a
          ><span
            >, puede intentar con las cuentas predeterminadas:<br />- Administrador (usuario=&quot;admin&quot; y
            contraseña=&quot;admin&quot;)</span
          >
        </div>

        <div class="alert alert-warning">
          <span>¿Aún no tienes una cuenta?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Crea una cuenta</a>
        </div>
      }
    </div>
  </div>
</div>
